/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

.svelte-flow__edgelabel-renderer {
  z-index: 2000 !important;
}

.hint-text ul {
  list-style: disc !important;
  padding: 5px;
}

.hint-text li {
  margin-left: 15px;
}
